/* Root & Body */
:root {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    --bg-primary: #e8e9eb;
    --bg-secondary: #313638;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E8E9EB;
}

/* Vertical Navigation Bar and Items */
.nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #313638;
    position: fixed;
    height: 100%;
    width: 60px;
    padding-right: 10px;
    z-index: 3;
    overflow: hidden;
    transition: width 200ms ease;

}
.nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 14px;
    width: 100%;
}
.nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E8E9EB;
}
.nav-item:hover {
    filter: grayscale(0%) opacity(1);
    background: #F06543;
}
.nav-item:active {
    background: #F09D51;
}
.nav-item-text {
    display: none;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.nav-bar-container:hover {
    width: 200px;
}
.nav-bar-container:hover .nav-item-text {
    display: inline-block;
}

/* Main Content Here */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center center;
    align-items: center;
    box-shadow: 2px 15px 15px rgba(49, 54, 56, 0.5);
    z-index: 2;
    margin-left: 140px;
}
.name-item {
    width: 850px;
}
#header-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    line-height: 80px;
    color: #313638;
    font-size: 60px;
}
#header-pic {
    -webkit-filter: drop-shadow(8px 8px 8px #313638);
    filter: drop-shadow(8px 8px 8px #313638);
}

/* About Section */
.bruh-container {
    width: 100vw;
    box-shadow: 2px 5px 10px rgba(49, 54, 56, 0.5);
    margin-left: 140px;
    z-index: 1;
}
.about-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
}
.about-left img{
    border-radius: 8px;
    box-shadow: 2px 10px 10px rgba(49, 54, 56, 0.5);
    height: 700px;
}
.about-descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
    color:#313638;
    width: 600px;
}
.about-keyword {
    color:#F06543;
    font-weight: bold;
}
.about-nav {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 100%;
}
.about-nav-item {
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}
.about-unactive::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -8px;
    left: 0;
    background-color:#F06543;
    transition: 0.25s;
}
.about-unactive:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 3px;
}
.about-active::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(1);
    height: 3px;
    bottom: -8px;
    left: 0;
    background-color:#F06543;
}
.about-summary {
    display: flex;
    flex-direction: column;
}
.about-education {
    display: none;
    flex-direction: column;
}
.about-skills {
    display: none;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#about-title {
    color: #313638;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Education Section */
.education-container {
    display: flex;
}
.education-items-top {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}
.edu-top-item {
    padding-right: 30px;
}
.education-items-bottom {
    font-weight: 300;
    line-height: 10px;
    margin-top: -20px;
}
.education-w-image {
    display: flex;
    line-height: 5px;
    align-items: center;
}
.education-w-image img {
    -webkit-filter: drop-shadow(3px 3px 3px #313638);
    filter: drop-shadow(3px 3px 3px #313638);
}

/* Skills Section */
.lang-skill-top, .pack-skill-top, .dev-skill-top, .soft-skill-top {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.lang-skill-bot, .pack-skill-bot, .dev-skill-bot, .soft-skill-bot {
    display: flex;
    flex-wrap: wrap;
}
.lang-skill {
    background-color: tomato;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: -5px;
}
.pack-skill {
    background-color: lavender;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: -5px;
}
.dev-skill {
    background-color: lightblue;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: -5px;
}
.soft-skill {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: -5px;
}

/* Organizations Section */
.orgs-container {
    background-color:#E8E9EB;
    width: 100%;
    text-align: center;
    color: #313638;
    /* box-shadow: -2px -15px 15px rgba(49, 54, 56, 0.5); */
    background: linear-gradient(135deg, #e66465, #E8E9EB 80%, #9198e5);
    z-index: 0;
    padding-bottom: 55px;
    margin-left: 140px;
}
.organizations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}
.org-item img {
    height: 100px;
    cursor: pointer;
}

/* Contact Section */
.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E8E9EB;
    width: 100%;
    padding: 50px 0 50px 0;
    margin-left: 140px;
    box-shadow: 2px -5px 10px rgba(49, 54, 56, 0.5);
    z-index: 1;
}
.contact-left {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}
.contact-left-items {
    display: flex;
}
.contact-bot-image {
    -webkit-filter: drop-shadow(8px 8px 8px #313638);
    filter: drop-shadow(8px 8px 8px #313638);
    width: 300px;
}
.under-icons {
    display: flex;
    justify-content: center;
}
.contact-icons {
    height: 60px;
    color:#313638;
    width: 40%;
}
.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    width: 30%;
}
#contact-title {
    color: #313638;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contact-form {
    display: flex;
    flex-direction: column;
}
#form-name, #form-email {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 15px 10px 15px;
    color: #313638;
    font-weight: 600;
    height: 50px;
    font-size: 0.7em;
    border-width: 0px;
}
#form-message {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 15px 10px 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #313638;
    font-size: 0.7em;
    border-width: 0px;
}
#send-button {
    background-color: tomato;
    color: #313638;
    border-radius: 8px;
    padding: 10px 8px 10px 8px;
    margin-top: 20px;
    width: 30%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7em;
    border-width: 0px;
}
#send-button:active {
    background-color: #F09D51;
}

/* Apposable Errors */
.contact-error {
    border-color: #e66465;
    background-color: pink;
}

/* Footer Section */
.footer {
    text-align: center;
    font-size: 10px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #313638;
    color: white;
    margin-left: 140px;
}

/* Animations */
#rotating-roles {
    color: #F06543;
    overflow: hidden;
    height: 80px;
    line-height: 10px;
}
.roles {
    display: block;
    height: 100%;
    animation: spin_words 30s infinite;
    z-index: 1;
}
@keyframes spin_words {
    5% { transform: translateY(-70%); }
    10% { transform: translateY(-60%); }
    15% { transform: translateY(-170%); }
    20% { transform: translateY(-160%); }
    25% { transform: translateY(-270%); }
    30% { transform: translateY(-260%); }
    35% { transform: translateY(-370%); }
    40% { transform: translateY(-360%); }
    45% { transform: translateY(-470%); }
    50% { transform: translateY(-460%); }
    55% { transform: translateY(-570%); }
    60% { transform: translateY(-560%); }
    65% { transform: translateY(-670%); }
    70% { transform: translateY(-660%); }
    75% { transform: translateY(-770%); }
    80% { transform: translateY(-760%); }
    85% { transform: translateY(-870%); }
    90% { transform: translateY(-860%); }
    95% { transform: translateY(30%); }
    100% { transform: translateY(60%); }
}
.org-item img:hover {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
  }

/* Scrollbar Customization */
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #E8E9EB;
}
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #313638;
}
.about-skills::-webkit-scrollbar {
    width: 10px;
}
.about-skills::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #E8E9EB;
}
.about-skills::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #313638;
}