/* All Body */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #e8e9eb;
}

/* Vertical Navigation Bar and Items */
.nav-bar-container {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #313638;
    position: absolute;
    height: 100vh;
    padding-top: 20px;
}

.nav-item {
    padding: 20px;
}

.nav-item a {
    text-decoration: none;
    color: lavender;
}

/* Main Content Here */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.name-item {
    width: 850px;
}

#header-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 70px;
    line-height: 80px;
    color: #313638;
}

#header-pic {
    -webkit-filter: drop-shadow(8px 8px 8px #313638);
    filter: drop-shadow(8px 8px 8px #313638);
    margin-left: -150px;
}

/* Animation */
#rotating-roles {
    color: #F06543;
    overflow: hidden;
    height: 80px;
    line-height: 10px;
}

span {
    display: block;
    height: 100%;
    animation: spin_words 30s infinite;
}

@keyframes spin_words {
    5% { transform: translateY(-70%); }
    10% { transform: translateY(-60%); }
    15% { transform: translateY(-170%); }
    20% { transform: translateY(-160%); }
    25% { transform: translateY(-270%); }
    30% { transform: translateY(-260%); }
    35% { transform: translateY(-370%); }
    40% { transform: translateY(-360%); }
    45% { transform: translateY(-470%); }
    50% { transform: translateY(-460%); }
    55% { transform: translateY(-570%); }
    60% { transform: translateY(-560%); }
    65% { transform: translateY(-670%); }
    70% { transform: translateY(-660%); }
    75% { transform: translateY(-770%); }
    80% { transform: translateY(-760%); }
    85% { transform: translateY(-870%); }
    90% { transform: translateY(-860%); }
    95% { transform: translateY(30%); }
    100% { transform: translateY(60%); }
}
