<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <title>Career</title>
    <link rel="icon" href="{% static 'home/imgs/llama.png' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>

<body>
    <h1>Career Page!</h1>

    <a href="{% url 'home:home' %}"> Go Back </a>

    <h3>List of Careers</h3>
    <ul>
        {% for experience in experience_list %}
            <li> {{experience.company_name}}, {{experience.role}} </li>
        {% endfor %}
    </ul>

</body>

</html>