<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <title>Kevin Lizarazu</title>
    <link rel="icon" href="{% static 'home/imgs/llama.png' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap" rel="stylesheet">

    <!-- Images Imported from Static -->
    <style>
        .header-container {
            background-image: url('{% static "home/imgs/salt-background.jpg" %}');
        }
    </style>

</head>

<body>
    <!-- Navigation Bar -->
    <nav class="nav-bar-container">
        <div class="nav-item">
            <a href="{% url 'home:home' %}"><img style="height: 40px;" src="{% static 'home/imgs/icons/home-light.svg' %}">
                <span class="nav-item-text">Home</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{% url 'home:career' %}"><img style="height: 40px;" src="{% static 'home/imgs/icons/career-light.svg' %}">
                <span class="nav-item-text">Career</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{% url 'home:resume' %}"><img style="height: 40px;" src="{% static 'home/imgs/icons/resume-light.svg' %}">
                <span class="nav-item-text">Resume</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{% url 'home:contact' %}"><img style="height: 40px;" src="{% static 'home/imgs/icons/email-light.svg' %}">
                <span class="nav-item-text">Contact</span>
            </a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <!--Header section-->
        <section class="header-container" >
            <div class="name-item">
                <h1 id="header-title">Hello, I'm Kevin Lizarazu<br>And I'm
                    <div id="rotating-roles">
                        <span class="roles"> </span>
                        <span class="roles">A Software Developer</span>
                        <span class="roles">Bolivian</span>
                        <span class="roles">An Entrepreneur</span>
                        <span class="roles">A Hokie</span>
                        <span class="roles">A Photographer</span>
                        <span class="roles">A Researcher</span>
                        <span class="roles">A Multi-Instrumentalist</span>
                        <span class="roles">A Web Developer</span>
                        <span class="roles">A Tennis Player</span>
                    </div>
                </h1>
            </div>
            <div class="picture-item">
                <img id=header-pic style="height:300px;" src="{% static 'home/imgs/llama.png' %}">
            </div>
        </section>

        <!-- About Section -->
        <div class="bruh-container">
        <section class="about-container">
            <div class="about-left">
                <img src="{% static 'home/imgs/about-me/kevin1.jpg' %}">
            </div>

            <div class="about-right">
                <div id="about-title">
                    <h2>About Me</h2>
                </div>

                <div class="about-descriptions">
                    <nav class="about-nav">
                        <p class="about-nav-item about-active" id="about-summary-button">Summary</p>
                        <p class="about-nav-item about-unactive" id="about-education-button">Education</p>
                        <p class="about-nav-item about-unactive" id="about-skills-button">Skills</p>
                    </nav>
                    <span class="about-summary">
                        <p>
                            With a background in Computer Engineering and as a first-generation student, I am well-equipped with the skills and resilient mentality to tackle the toughest technical problems and contribute to the betterment of my immediate and distant communities.
                        </p>
                        <p>
                            This portfolio serves as a testament to my academic and research pursuits, encompassing personal projects and experiences that demonstrate dedication and a desire to keep learning; in addition to my technical work, I plan on including some of my own hobbies and interests to provide insight into who I am and my ideas.
                        </p>
                        <p>
                            I welcome collaboration opportunities and discussion regarding <span class="about-keyword">Web Development</span>, <span class="about-keyword">Reinforcement Learning</span>, and <span class="about-keyword">AI Security</span>, so feel free to reach out!
                        </p>
                    </span>

                    <span class="about-education">
                        {% for education in education_list %}
                            <div class="education-w-image">
                                <img src="{{education.img_url}}" height="200px">
                                <span class="education-items-top">
                                    <p class="edu-top-item">{{education.school_name}}</p>
                                    <p class="edu-top-item">{{education.city}}, {{education.state}}</p>
                                    <p class="edu-top-item">{{education.start_date|date:'m/Y'}} - {{education.end_date|date:'m/Y'}}</p>
                                </span>
                            </div>
                            <span class="education-items-bottom">
                                <p><b>{{education.degree_type}} - </b> {{education.major}}</p>
                                {% if education.minor %}
                                    <p><b>Minor - </b> {{education.minor}}</p>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </span>
                    
                    <span class="about-skills">
                        <span class="lang-skill-top">
                            <p style="text-decoration: underline;">Languages</p>
                            <div class="lang-skill-bot">
                                {% for skill in skill_list %}
                                    {% if skill.skill_type == "lang" %}
                                        <p class="lang-skill">{{skill.skill_name}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </span>
                        <span class="pack-skill-top">
                            <p style="text-decoration: underline;">Packges</p>
                            <div class="pack-skill-bot">
                                {% for skill in skill_list %}
                                    {% if skill.skill_type == "pack" %}
                                        <p class="pack-skill">{{skill.skill_name}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </span>
                        <span class="dev-skill-top">
                            <p style="text-decoration: underline;">Development</p>
                            <div class="dev-skill-bot">
                                {% for skill in skill_list %}
                                    {% if skill.skill_type == "dev" %}
                                        <p class="dev-skill">{{skill.skill_name}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </span>
                        <span class="soft-skill-top">
                            <p style="text-decoration: underline;">Soft</p>
                            <div class="soft-skill-bot">
                                {% for skill in skill_list %}
                                    {% if skill.skill_type == "soft" %}
                                        <p class="soft-skill">{{skill.skill_name}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </span>
                    </span>
                </div>
            </div>
        </section>
        </div>

        <!-- Organizations -->
        <section class="orgs-container">
            <h2 style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">Organizations</h2>
            <span class="organizations">
                <div class="org-item">
                    <a target="_blank" href="https://buildyourfuture.withgoogle.com/events/latinxstudentleadershipsummit"><img  src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"></a>
                </div>
                <div class="org-item">
                    <a target="_blank" href="https://www.colorstack.org/"><img src="https://colorstackmerch.org/cdn/shop/files/ColorStack-Slack-Image.png"></a>
                </div>
                <div class="org-item">
                    <a target="_blank" href="https://www.shpevt.com/"><img src="https://i0.wp.com/www.shpesd.org/wp-content/uploads/2020/02/cropped-SHPE_logo_vert_SanDiegoPro_CMYK_HalfSize.png"></a>
                </div>
                <div class="org-item">
                    <a target="_blank" href="https://eng.vt.edu/ceed/ceed-undergraduate-programs/clark-scholars-program.html"><img src="{% static 'home/imgs/clarkScholars.png' %}"></a>
                </div>
                <div class="org-item">
                    <a target="_blank" href="https://www.codepath.org/"><img src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/187/2022/11/CodePath-480x480.jpeg?v=7014"></a>
                </div>
                <div class="org-item">
                    <a target="_blank" href="https://cameo.vt.edu/"><img src="{% static 'home/imgs/cameoLogo.png' %}"></a>
                </div>
            </span>
        </section>

        <section class="contact-container">
            <div class="contact-left">
                <h2 id="contact-title">Contact Me</h2>
                <div class="contact-left-items">
                    <a target="_blank" href="https://www.instagram.com/kev1nla/"><img class="contact-icons" src="{% static 'home/imgs/icons/instagram-dark.svg' %}"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/klizarazu/"><img class="contact-icons" src="{% static 'home/imgs/icons/linkedin-dark.svg' %}"></a>
                    <a target="_blank" href="https://github.com/lizarazukevin"><img class="contact-icons" src="{% static 'home/imgs/icons/github-dark.svg' %}"></a>
                    <a target="_blank" href="https://lizarazukevin.medium.com/"><img class="contact-icons" src="{% static 'home/imgs/icons/medium-dark.svg' %}"></a>
                    <a target="_blank" href="https://stackoverflow.com/users/22571625/kevin-lizarazu-ampuero"><img class="contact-icons" src="{% static 'home/imgs/icons/stack-overflow-dark.svg' %}"></a>
                </div>
                <div class="under-icons">
                    <img class="contact-bot-image" src="{% static 'home/imgs/sign.png' %}">
                </div>
            </div>
            <div class="contact-right">
                <form class="contact-form" style="display: none;">
                    <input id="form-name" name="Name" type="text" placeholder="Your Name" required>
                    <input id="form-email" name="Email" type="email" placeholder="Your Email" required>
                    <textarea id="form-message" name="Message" type="text" placeholder="Your Message"></textarea>
                    <button id="send-button" type="submit">Send</button>
                </form>
                <form name="submit-to-google-sheet" class="contact-form">
                    <input id="form-name" name="Name" type="text" placeholder="Your Name" required>
                    <input id="form-email" name="Email" type="email" placeholder="Your Email" required>
                    <textarea id="form-message" name="Message" type="text" placeholder="Your Message"></textarea>
                    <button id="send-button" type="submit">Send</button>
                </form>
            </div>
        </section>
        <div class="footer">
            <p>Made with ♥ Kevin Lizarazu 2023</p>
        </div>

        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbwsgeSRWWOwGG7LBiINtwtAPaIUgfhikIBGlDFgzJP_fKfk5mze6omscpFszSxPTNQh/exec'
            const form = document.forms['submit-to-google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => console.log('Success!', response))
                .catch(error => console.error('Error!', error.message))
            })
          </script>
    </div>

    <!-- Connect to JS script -->
    <script src="{% static 'home/js/home.js' %}"></script>

</body>

</html>

